body {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.copy {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

body {
  overflow: hidden;
}

#remoteVideo {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
}

#localVideo {
  border: 1px solid gray;
  bottom: 20px;
  right: 20px;
  max-height: 17%;
  max-width: 17%;
  position: absolute;
  z-index: 2;
  object-fit: cover;
}
